<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.example.mydownloadplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>MyDownloadPlugin</name>
    <description>A Cordova plugin for downloading files.</description>
    <js-module name="MyDownloadPlugin" src="www/MyDownloadPlugin.js">
        <clobbers target="cordova.plugins.MyDownloadPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MyDownloadPlugin">
                <param name="android-package" value="com.example.MyDownloadPlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/MyDownloadPlugin.java" target-dir="src/com/example/mydownloadplugin" />
    </platform>
</plugin>